* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    background-color: #202020;
    font-size: 2rem;
    /*-webkit-app-region: drag;*/
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.show {
    display: none;
    letter-spacing: .5rem;
    font-family: Arial;
    font-weight: 700;
    font-size: 25vw;
    user-select: none;
}

.show-off { color: #e84118; }
.show-on { color: #4cd137; }

.offline .show-off { display: block; }
.online .show-on { display: block; }

